* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
:root {
    --main-color: #cf617d;
    --secondry-color: #202c29;
    --background: linear-gradient(135deg, var(--main-color), var(--secondry-color));
}

body {
    background-color: #fdf5f2; 
    padding-top: 150px;
}

/* .topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1001; 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background: var(--background); 
    color: white; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
    box-sizing: border-box; 
}

.left-side {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.nav-logo-img {
    height: 70px; 
    width: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 5px rgba(255,255,255,0.2)); 
}

.logo {
    font-size: 24px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
}

.logo-link:active, .logo-link:visited {
    color: white ;
}

.about-link {
    color: white; 
    text-decoration: none;
    margin-left: 100px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block; 
    transition: transform 0.3s ease, color 0.3s ease; 
}

.about-link:hover {
    transform: scale(1.2); 
    opacity: 1;
    color: #fff; 
    cursor: pointer;
}

.about-link:active {
    transform: scale(0.95); 
}
 .right-side {
    display: flex;
    gap: 15px;
    
} 

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s; 
}

.btn-login {
    color: white;
    border: 1px solid white;
    margin-right: 10px;
}

.btn-login:hover {
    background: white;
    color: var(--main-color);
}

.btn-signup {
    background-color: white;
    color: var(--secondry-color);
}

.btn-signup:hover {
    background-color: var(--main-color);
    color: white;
} */

/* .search-section {
    text-align: right;
    margin: 10px 2%;
    font-family: 'Roboto', sans-serif;
}

.search-section h3 {
    color: var(--secondry-color);
    margin-bottom: 5px;
    margin-right: 2px;
    font-size: 1.2rem;
}

.search-group {
    display: flex;
    justify-content: flex-end; 
} */

 /* for display books */

 .sidebar {
    border-right: 2px solid #747272; 
    padding-right: 15px; 
    height: 60vh; 
}

.main-page-container {
    display: flex;
    align-items: flex-start; 
    width: 100%;
    min-height: 100vh;
}

.filter-options {
    padding: 5px;
    display: flex;
    flex-direction: column; 
    gap: 2px;
    border-radius: 4px;
}

.filter-options label {
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* gap: ; */
}

.content-area {
    flex: 1; 
    padding: 40px;
}

details {
    width: 100%;
    max-width: 200px; 
    border-bottom: 1px solid #ccc; 
    margin-left: 10px;
    transition: all 0.3s ease;
}

summary {
    padding: 15px 0;
    font-size: 24px; 
    list-style: none; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #333;
}

summary::after {
    content: '\2304'; 
    font-size: 20px;
    color: #999;
    transition: transform 0.3s;
}

details[open] summary::after {
   transform: scaleY(-1);
   color: var(--main-color); /
}

details p {
    padding: 10px 0 20px 0;
    color: #666;
    line-height: 1.6;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-top: 15px;
    color: #222;
}

/* books continar*/
.books-display-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px;
    
}

/* books card*/
.book-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: center;
}

.book-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.book-card strong {
    display: block;
    font-size: 1.1rem;
    color: var(--secondry-color);
    margin-bottom: 8px;
}