* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
} */

:root {
    --main-color: #cf617d;
    --secondry-color: #202c29;
    --background: linear-gradient(135deg, var(--main-color), var(--secondry-color));
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1001; 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background: var(--background); 
    color: white; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
    box-sizing: border-box; 
}

.left-side {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.nav-logo-img {
    height: 70px; 
    width: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 5px rgba(255,255,255,0.2)); 
}

.logo {
    font-size: 24px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
}

.logo-link:active, .logo-link:visited {
    color: white ;
}

.about-link {
    color: white; 
    text-decoration: none;
    margin-left: 100px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block; 
    transition: transform 0.3s ease, color 0.3s ease; 
}

.about-link:hover {
    transform: scale(1.2); 
    opacity: 1;
    color: #fff; 
    cursor: pointer;
}

.about-link:active {
    transform: scale(0.95); 
}
 .right-side {
    display: flex;
    gap: 15px;
    
} 

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s; 
}

.btn-login {
    color: white;
    border: 1px solid white;
    margin-right: 10px;
}

.btn-login:hover {
    background: white;
    color: var(--main-color);
}

.btn-signup {
    background-color: white;
    color: var(--secondry-color);
}

.btn-signup:hover {
    background-color: var(--main-color);
    color: white;
}

.navbar ul {
    position: fixed;
    top: 100px; 
    left: 0;
    width: 100%;
    height: 50px; 
    z-index: 1000; 
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center; 
    padding: 0;
    background-color: #fdf5f2; 
     margin: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    box-sizing: border-box;
}

/* style of li*/
.navbar ul li a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    padding: 8px 15px;
    border: 2px solid transparent; 
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease; 
}

.navbar ul li a:hover {
    color: #b0415e; 
    transform: scale(1.1); 
    border-color: #b0415e; 
    background-color: rgba(176, 65, 94, 0.05); 
}

.navbar ul li a:active {
    transform: scale(0.95); 
    background-color: #b0415e;
    color: white;
}

/* span | */
.navbar ul li:not(:last-child):after {
    content: "|";
    margin-left: 20px;
    color: #ddd;
}